.header {
    display: flex;
    justify-content: space-between;
    align-items: center;         /* vertically centers logo and nav items */
    border: 1px solid black;
    padding: 10px 20px;
}

.logo{
    width: 80px;                 /* adjust as needed */
    height: auto;                /* maintains aspect ratio */
    object-fit: contain;
    display: block;
}

/* Nav bar styles */
.nav-items > ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

/* Restaurant card styles */
.restaurant-card {
    width: 300px;
    /* height: 300px; */
    border: 1px solid black;
    padding: 5px;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 5px;
    background-color: #f0f0f0;
}

.restaurant-card:hover {
    transform: scale(1.05);
}

.res-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}
 
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color:#f0f0f0 ;
}
.login{
    padding: 0 30px;
    cursor: pointer;
    
}